# style.css
body { font-family: 'Winner College', sans-serif; margin: 0; background: #f2f2f2; }
.navbar ul { display: flex; gap: 20px; list-style: none; background: #222; padding: 20px; }
.navbar a { color: white; text-decoration: none; }
.navbar a:hover { color: yellow; transition: 0.3s; }
.active { text-decoration: underline; }
.card { background: white; padding: 20px; margin: 20px; border-radius: 10px; }
.gallery img { width: 100%; height: 100vh; object-fit: cover; display: block; }
.btn { padding: 10px 20px; cursor: pointer; }